.panel.panel-default {
  border-radius:8px
}
.panel-heading {
 border-radius:8px;
}
.btn.btn-primary {
 border-radius:5px;
}
.form-control {
border-radius:5px;
}
.uploads.btn.btn-default{
border-radius:5px;
}
.show_advset.list_footer.btn.btn-default{
border-radius:5px;
}
.textarea.editor_content {
border-radius:5px;
}
.btn.btn-primary{
border-radius:5px;
}
.btn.btn-success{
border-radius:5px;
}
.heading-bg{
border-radius:5px;
}
.panel.profile-info{
border-radius:5px;
}
.table-responsive{
border-radius:4px
}/*±Ì∏Ò‘≤Ω«*/
.btn.btn-danger{
border-radius:5px;
}
.btn.btn-default{
border-radius:5px;
}
.btn.btn-warning{
border-radius:5px;
}
.btn.btn-info{
border-radius:5px;
}
.widget-container.fluid-height.ibox-content{
border-radius: 0px 0px 8px 8px;
}

.panel.panel-default.index {
  border-radius:8px 8px 0px 0px;
}
.panel-heading.index {
border-radius:8px 8px 0px 0px;
}
.panel-heading.top{
border-radius:8px 8px 0px 0px;
}
.panel.panel-default.card-view.pa-0{
border-radius:8px;
}
.panel-wrapper.collapse in{
border-radius:8px;
}
.sm-data-box.bg-red{
border-radius:8px;
}
.sm-data-box.bg-yellow{
border-radius:8px;
}
.sm-data-box.bg-green{
border-radius:8px;
}
.sm-data-box.bg-blue{
border-radius:8px;
}